* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  background: url("https://raw.githubusercontent.com/seekinfox/huddle-landing-page-with-single-introductory-section-master/f6a2be6c0ce3b68b3fa1a2f8d9059716bd9b76e1/images/bg-mobile.svg"), #674baf;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 1000px) {
  html,
body {
    background: url("https://raw.githubusercontent.com/seekinfox/huddle-landing-page-with-single-introductory-section-master/f6a2be6c0ce3b68b3fa1a2f8d9059716bd9b76e1/images/bg-desktop.svg"), #674baf;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
@media (min-width: 1000px) {
  .container {
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: auto auto auto;
  }
}
.container .logo {
  grid-column: 2/-2;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}
.container .logo img {
  width: 8rem;
}
@media (min-width: 1000px) {
  .container .logo {
    grid-row: 1/2;
    margin-top: 3.5rem;
    margin-bottom: 4.7rem;
  }
  .container .logo img {
    width: 12.7rem;
  }
}
.container .hero {
  grid-column: 2/-2;
  max-width: 25rem;
  width: 100%;
}
.container .hero img {
  width: 100%;
}
@media (min-width: 1000px) {
  .container .hero {
    grid-row: 2/-2;
  }
  .container .hero img {
    width: 42rem;
  }
}
.container .info {
  grid-column: 2/-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 1000px) {
  .container .info {
    grid-column: 12/-2;
    grid-row: 2/-2;
    text-align: left;
    margin-left: 2rem;
    margin-top: -1rem;
  }
}
.container .info p:first-child {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-top: 3.5rem;
}
@media (min-width: 1000px) {
  .container .info p:first-child {
    font-size: 2.5rem;
  }
}
.container .info p:nth-of-type(2) {
  padding: 1.5rem 0;
  color: white;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 1000px) {
  .container .info p:nth-of-type(2) {
    padding-right: 0.8rem;
  }
}
.container .info a {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  background: white;
  padding: 0.6rem 0;
  width: 13rem;
  text-decoration: none;
  font-size: 13px;
  color: #674baf;
  border-radius: 5rem;
  font-weight: bold;
}
@media (min-width: 1000px) {
  .container .info a {
    text-align: center;
    align-self: flex-start;
    padding: 1rem 0;
    font-size: 15px;
    width: 12rem;
  }
}
.container .info a:hover {
  background: #e882e8;
  color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
  font-family: "Open Sans", sans-serif;
}

footer {
  text-align: center;
  margin: 4rem 0 1.5rem;
}
footer i {
  width: 1.7rem;
  height: 1.7rem;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  outline: 1px solid white;
  font-size: 13px;
  margin-right: 1rem;
  cursor: pointer;
}
footer i:hover {
  color: #ea4dea;
  outline: 1px solid #e882e8;
}
@media (min-width: 1000px) {
  footer {
    text-align: right;
    margin-top: 1rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }
  footer i {
    width: 2.3rem;
    height: 2.3rem;
    padding: 0.7rem;
    font-size: 17px;
  }
}

/*# sourceMappingURL=stye.css.map */
